<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maceo.babylog">

    <application
        android:allowBackup="true"
        android:icon="@drawable/babylog_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BabyInfoActivity" />
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".BabyInfoActivity" />
        <activity
            android:name=".FeedingActivity"
            android:label="Feeding"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SleepActivity"
            android:label="Sleep"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeActivity" />
        />
        <activity
            android:name=".ChartActivity"
            android:label="Charts"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeActivity" />
        />
        <activity
            android:name=".DiaperChangeActivity"
            android:label="Diaper Change"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeActivity" />
        />
        <activity
            android:name=".NotificationActivity"
            android:label="Notifications" />
    </application>

</manifest>